body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: pink;
    font-size: 30px;
}

.container {
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    position: fixed;
    overflow:hidden;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size:cover;
}

.knoppen {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mijn {
    text-align: center;
    padding: 20px;
    border: solid 2px #000;
    border-radius: 16px;
    cursor: pointer;
    margin: 0 auto;
    background-color: yellow;
    margin-bottom: 20px;
}

.doneer {
    text-align: center;
    padding: 20px;
    border: solid 2px #000;
    border-radius: 16px;
    cursor: pointer;
    margin: 0 auto;
    background-color:green;
}

.doneer:hover {
    background-color:red;
}

.mijn:hover {
    background-color: slateblue;
}

.total {
    background-color: royalblue;
    padding: 40px;
    border-radius: 50%;
    border: solid 3px red;
    text-decoration: underline;
    margin-bottom: 20px;
}

.graph {
    text-align: center;
    width:275px;
    height: 185px;
    background-image:url(../img/graph.jpg);
    margin-bottom:20px;
}

